@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono&display=swap');

$kumbh-sans: 'Kumbh Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$space-mono: 'Space Mono', monospace;

$base-color: #1E213F;
$red-color: #F87070;
$blue-color: #70F3F8;
$purple-color: #D881F8;
$grey-color: #D7E0FF;
$white-color: #FFFFFF;
$cream-color: #EFF1FA;
$navy-color: #161932;
